@page
@model ConfirmEmailModel
@{
  ViewData["Title"] = "Email Verified";
}

<h3>@ViewData["Title"]</h3>
<p>
  Your email has been verified. Please <a asp-page="./Login">click here to log in</a>.
</p>
