@inherits LayoutComponentBase

<div class="sidebar d-print-none">
  <NavMenu />
</div>

<RadzenDialog />
<RadzenNotification />
<div class="main">
  <div class="top-row px-4 auth d-print-none">
    <LoginDisplay />
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
