@page "/"

<h1>Welcome to Recipe Lewis</h1>

<h4>
  A site built by Scott Lewis to share family recipes.
</h4>
<p>
  Feel free to view or use any of the recipes. If you would like to edit or add a recipe, you will need to login, which is kept to the family.
</p>
<p>
  <a target="_blank" href="https://github.com/scottcl88/Recipe-Lewis">Open source repository on GitHub</a>
</p>